In [8]:
# Load necessary packages
import numpy as np
import pandas as pd

#to visualise all the columns in the dataframe
pd.pandas.set_option('display.max_columns', None)

from sklearn.impute import SimpleImputer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.model_selection import train_test_split
from sklearn.metrics.pairwise import linear_kernel
from sklearn.metrics import precision_score, recall_score, f1_score

## **Data Exploration**

In [10]:
# 1. Education dataset
ed = pd.read_csv('Datasets/education.csv')
ed.head()

,Id,primarySchool,primaryPercentage,primaryPassoutYear,secondarySchool,secondaryPercentage,secondaryPassoutYear,graduation,graduationPercentage,graduationPassoutYear,orgId,applicantId,certificates,name,degree,fieldOfStudy,percentage,certificate,createdOn
0,966,NaN,0,0,NaN,0.0,0,NaN,0.0,0,NaN,AIJP1291,NaN,NaN,NaN,NaN,NaN,NaN,48:16.3
1,967,Marks High school,86,1999,Marks High school,80.0,2001,NaN,0.0,0,NaN,AIJV7014,NaN,NaN,NaN,NaN,NaN,NaN,48:16.3
2,968,NaN,0,0,NaN,0.0,0,NaN,0.0,0,NaN,AIAA7617,NaN,NaN,NaN,NaN,NaN,NaN,48:16.3
3,969,NaN,0,0,NaN,0.0,0,NaN,0.0,0,NaN,AIRK6266,NaN,NaN,NaN,NaN,NaN,NaN,48:16.3
4,976,NaN,0,0,NaN,0.0,0,NaN,0.0,0,NaN,AIDK9811,NaN,NaN,NaN,NaN,NaN,NaN,48:16.3

In [11]:
# Total no.of columns and rows
ed.shape

(188, 19)

In [12]:
# List of columns
ed.columns

Index(['Id', 'primarySchool', 'primaryPercentage', 'primaryPassoutYear',
       'secondarySchool', 'secondaryPercentage', 'secondaryPassoutYear',
       'graduation', 'graduationPercentage', 'graduationPassoutYear', 'orgId',
       'applicantId', 'certificates', 'name', 'degree', 'fieldOfStudy',
       'percentage', 'certificate', 'createdOn'],
      dtype='object')

In [13]:
# Check datatypes of all the columns
ed.dtypes

Id                         int64
primarySchool             object
primaryPercentage          int64
primaryPassoutYear         int64
secondarySchool           object
secondaryPercentage      float64
secondaryPassoutYear       int64
graduation                object
graduationPercentage     float64
graduationPassoutYear      int64
orgId                    float64
applicantId               object
certificates              object
name                     float64
degree                   float64
fieldOfStudy             float64
percentage               float64
certificate              float64
createdOn                 object
dtype: object

In [14]:
# Information of the dataset
ed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188 entries, 0 to 187
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Id                     188 non-null    int64
 1   primarySchool          11 non-null     object
 2   primaryPercentage      188 non-null    int64
 3   primaryPassoutYear     188 non-null    int64
 4   secondarySchool        8 non-null      object
 5   secondaryPercentage    188 non-null    float64
 6   secondaryPassoutYear   188 non-null    int64
 7   graduation             9 non-null      object
 8   graduationPercentage   188 non-null    float64
 9   graduationPassoutYear  188 non-null    int64
 10  orgId                  0 non-null      float64
 11  applicantId            188 non-null    object
 12  certificates           15 non-null     object
 13  name                   0 non-null      float64
 14  degree                 0 non-null      float64
 15  fieldOfStudy           0 non-null      float64
 16  percentage             0 non-null      float64
 17  certificate            0 non-null      float64
 18  createdOn              188 non-null    object
dtypes: float64(8), int64(5), object(6)
memory usage: 28.0+ KB

In [15]:
# Statistical info of the dataset
ed.describe()

,Id,primaryPercentage,primaryPassoutYear,secondaryPercentage,secondaryPassoutYear,graduationPercentage,graduationPassoutYear,orgId,name,degree,fieldOfStudy,percentage,certificate
count,188.000000,188.000000,188.000000,188.000000,188.000000,188.000000,188.000000,0.0,0.0,0.0,0.0,0.0,0.0
mean,1101.771277,2.085106,77.218085,2.026596,66.574468,1.979255,88.207447,NaN,NaN,NaN,NaN,NaN,NaN
std,66.721032,11.914275,373.435188,11.550028,346.151925,11.504272,400.824477,NaN,NaN,NaN,NaN,NaN,NaN
min,966.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
25%,1057.750000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
50%,1110.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
75%,1157.250000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
max,1204.000000,89.000000,2017.000000,90.000000,2019.000000,89.000000,2023.000000,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
# Check for missing values
ed.isnull().sum()

Id                         0
primarySchool            177
primaryPercentage          0
primaryPassoutYear         0
secondarySchool          180
secondaryPercentage        0
secondaryPassoutYear       0
graduation               179
graduationPercentage       0
graduationPassoutYear      0
orgId                    188
applicantId                0
certificates             173
name                     188
degree                   188
fieldOfStudy             188
percentage               188
certificate              188
createdOn                  0
dtype: int64

In [17]:
# Dropping columns that are not contibuting for further analysis
ed = ed.drop(['primarySchool', 'secondarySchool', 'graduation', 'primaryPassoutYear', 'secondaryPassoutYear', 'graduationPassoutYear', 'orgId', 'certificates', 'name', 'degree', 'fieldOfStudy', 'percentage', 'certificate', 'createdOn'], axis=1)
ed.columns

Index(['Id', 'primaryPercentage', 'secondaryPercentage',
       'graduationPercentage', 'applicantId'],
      dtype='object')

In [18]:
# Check string columns
string_cols_ed = ed.select_dtypes(include='object')
string_cols_ed.columns

Index(['applicantId'], dtype='object')

In [19]:
# Check numerical columns
numerical_cols_ed = ed.select_dtypes(include='number')
numerical_cols_ed.columns

Index(['Id', 'primaryPercentage', 'secondaryPercentage',
       'graduationPercentage'],
      dtype='object')

In [20]:
# 2. Employment dataset
emp = pd.read_csv('Datasets/employment.csv')
emp.head()

,employmentId,uploadResume,currentCompany,currentDesignation,annualSalary,industry,functionalArea,role,currentLocation,orgId,noticePeriod,skills,totalWorkExp,minExp,maxExp,applicantId,preferedLocation,holdingAnyOffer,expectedCtc,feedback,comment,isCurrent,companyEmail,packageOffered,lastWorkingDay,remarks,previousCompany,offerLetter,experienceLetter,relieveingLetter,isRecent,paySlips,createdOn
0,48,NaN,ESMOB Technologies,React JS Developer,3.5,1.0,Software Developer,NaN,Hyderabad,1.0,NaN,"{css,js}",2.75,NaN,NaN,AISB2256,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49:44.0
1,61,NaN,Lejara Global IT Solutions Pvt. Ltd,RPA Developer,4.5,1.0,Software Developer,NaN,Hyderabad,1.0,NaN,"{RPA,python}",6.00,NaN,NaN,AIPH2278,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49:44.0
2,62,NaN,"Dhatri Info Solutions Pvt. Ltd,",Java Developer,360000,1.0,Software Developer,NaN,Hyderabad,1.0,NaN,"{java,spring,hibernate}",5.00,NaN,NaN,AIST2288,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49:44.0
3,63,NaN,IT Contractors,Java Developer,490000,1.0,IT,NaN,Bangalore,1.0,NaN,"{Java,Springboot}",3.00,NaN,NaN,AIVV2277,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49:44.0
4,64,NaN,Novell Logic,Java Developer,500000,1.0,IT,NaN,Bangalore,1.0,NaN,"{Java,springboot}",3.00,NaN,NaN,AIMV2241,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49:44.0

In [21]:
# Total no.of columns and rows
emp.shape

(2099, 33)

In [22]:
# List of columns
emp.columns

Index(['employmentId', 'uploadResume', 'currentCompany', 'currentDesignation',
       'annualSalary', 'industry', 'functionalArea', 'role', 'currentLocation',
       'orgId', 'noticePeriod', 'skills', 'totalWorkExp', 'minExp', 'maxExp',
       'applicantId', 'preferedLocation', 'holdingAnyOffer', 'expectedCtc',
       'feedback', 'comment', 'isCurrent', 'companyEmail', 'packageOffered',
       'lastWorkingDay', 'remarks', 'previousCompany', 'offerLetter',
       'experienceLetter', 'relieveingLetter', 'isRecent', 'paySlips',
       'createdOn'],
      dtype='object')

In [23]:
# Check datatypes of all the columns
emp.dtypes

employmentId            int64
uploadResume           object
currentCompany         object
currentDesignation     object
annualSalary           object
industry              float64
functionalArea         object
role                  float64
currentLocation        object
orgId                 float64
noticePeriod           object
skills                 object
totalWorkExp          float64
minExp                float64
maxExp                float64
applicantId            object
preferedLocation       object
holdingAnyOffer        object
expectedCtc            object
feedback               object
comment                object
isCurrent              object
companyEmail           object
packageOffered        float64
lastWorkingDay         object
remarks                object
previousCompany       float64
offerLetter           float64
experienceLetter      float64
relieveingLetter      float64
isRecent              float64
paySlips              float64
createdOn              object
dtype: object

In [24]:
# Information of the dataset
emp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2099 entries, 0 to 2098
Data columns (total 33 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   employmentId        2099 non-null   int64
 1   uploadResume        1600 non-null   object
 2   currentCompany      2002 non-null   object
 3   currentDesignation  2056 non-null   object
 4   annualSalary        1994 non-null   object
 5   industry            2004 non-null   float64
 6   functionalArea      1986 non-null   object
 7   role                0 non-null      float64
 8   currentLocation     1999 non-null   object
 9   orgId               1953 non-null   float64
 10  noticePeriod        1919 non-null   object
 11  skills              2099 non-null   object
 12  totalWorkExp        2002 non-null   float64
 13  minExp              0 non-null      float64
 14  maxExp              0 non-null      float64
 15  applicantId         2099 non-null   object
 16  preferedLocation    1536 non-null   object
 17  holdingAnyOffer     1514 non-null   object
 18  expectedCtc         1539 non-null   object
 19  feedback            21 non-null     object
 20  comment             159 non-null    object
 21  isCurrent           1193 non-null   object
 22  companyEmail        694 non-null    object
 23  packageOffered      15 non-null     float64
 24  lastWorkingDay      21 non-null     object
 25  remarks             59 non-null     object
 26  previousCompany     0 non-null      float64
 27  offerLetter         0 non-null      float64
 28  experienceLetter    0 non-null      float64
 29  relieveingLetter    0 non-null      float64
 30  isRecent            0 non-null      float64
 31  paySlips            0 non-null      float64
 32  createdOn           2099 non-null   object
dtypes: float64(13), int64(1), object(19)
memory usage: 541.3+ KB

In [25]:
# Statistical info of the dataset
emp.describe()

,employmentId,industry,role,orgId,totalWorkExp,minExp,maxExp,packageOffered,previousCompany,offerLetter,experienceLetter,relieveingLetter,isRecent,paySlips
count,2099.000000,2004.000000,0.0,1953.0,2002.000000,0.0,0.0,1.500000e+01,0.0,0.0,0.0,0.0,0.0,0.0
mean,1200.003811,2.056886,NaN,1.0,11.116773,NaN,NaN,5.600082e+05,NaN,NaN,NaN,NaN,NaN,NaN
std,627.419107,4.399741,NaN,0.0,104.766500,NaN,NaN,6.378347e+05,NaN,NaN,NaN,NaN,NaN,NaN
min,48.000000,0.000000,NaN,1.0,0.000000,NaN,NaN,1.200000e+01,NaN,NaN,NaN,NaN,NaN,NaN
25%,679.500000,1.000000,NaN,1.0,2.000000,NaN,NaN,1.700000e+01,NaN,NaN,NaN,NaN,NaN,NaN
50%,1212.000000,1.000000,NaN,1.0,3.400000,NaN,NaN,4.800000e+05,NaN,NaN,NaN,NaN,NaN,NaN
75%,1737.500000,1.000000,NaN,1.0,6.000000,NaN,NaN,9.250000e+05,NaN,NaN,NaN,NaN,NaN,NaN
max,2276.000000,165.000000,NaN,1.0,3278.000000,NaN,NaN,1.900000e+06,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
# Check for missing values
emp.isnull().sum()

employmentId             0
uploadResume           499
currentCompany          97
currentDesignation      43
annualSalary           105
industry                95
functionalArea         113
role                  2099
currentLocation        100
orgId                  146
noticePeriod           180
skills                   0
totalWorkExp            97
minExp                2099
maxExp                2099
applicantId              0
preferedLocation       563
holdingAnyOffer        585
expectedCtc            560
feedback              2078
comment               1940
isCurrent              906
companyEmail          1405
packageOffered        2084
lastWorkingDay        2078
remarks               2040
previousCompany       2099
offerLetter           2099
experienceLetter      2099
relieveingLetter      2099
isRecent              2099
paySlips              2099
createdOn                0
dtype: int64

In [27]:
emp = emp.drop(['currentCompany', 'currentDesignation', 'currentDesignation', 'annualSalary', 'functionalArea', 'role', 'currentLocation', 'orgId', 'noticePeriod', 'totalWorkExp', 'minExp', 'maxExp', 'preferedLocation', 'holdingAnyOffer', 'expectedCtc', 'feedback', 'comment', 'isCurrent', 'companyEmail', 'packageOffered', 'lastWorkingDay', 'remarks', 'previousCompany', 'offerLetter', 'experienceLetter', 'relieveingLetter', 'isRecent', 'paySlips', 'createdOn'], axis=1)

In [28]:
emp.columns

Index(['employmentId', 'uploadResume', 'industry', 'skills', 'applicantId'], dtype='object')

In [29]:
# 3. Jobs dataset
jobs = pd.read_csv('Datasets/jobs.csv')
jobs.head()

,jobTitle,position,minBudget,maxBudget,travelReq,location,description,attachment,orgId,jobType,skills,recruiter,client,minExp,maxExp,noticePeriod,status,jobId,createDate,vacancies,priority,priceType,workType,comment,subvendorId,Questionnaires,country,department,eligibility,responsibilities
0,Plant Maintenance Engineer,Plant Maintenance Engineer,300000.0,600000.0,True,{Hyderabad},"Read and understand the data from P&ID, PEFS, ...",NaN,1,Permanent,"{""Plant Maintenance""}",DB413862,CIHI7757,2.00,5.0,15-30 days,Active,JDA&5399,2023-01-31 11:09:26.36189,2.0,High,INR,Work from Office,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Adobe Analytics developer,AdobeAnalyticsdeveloper,14.0,15.0,True,{ChennaiBangaloreHyderabad},An understanding of the marketing technologies...,NaN,1,Permanent,"{""Adobe anaytics"",Agile,tableau,Marketo,""power...",Venkata Sai Rohith,CIHW9344,3.00,4.0,15-30 days,Active,JDAA1476,2022-03-30 11:20:03.031659,1.0,High,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AEM architect,Aemarchitect,12.0,15.0,True,{bangalore},"To analyze, understand the client’s business u...",NaN,1,Permanent,"{JIRA,Confluence,AEM}",Venkata Sai Rohith,CIHW9344,4.00,6.0,30-45 days,Active,JDAA5139,2022-03-07 13:21:41.393509,NaN,Low,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Azure Administrator,Azure Administrator,14.0,16.0,False,"{""Pan India""}",1.\tArchitecture and Design for large scale Az...,NaN,1,Permanent,"{""Azure Administrator ""}",PC138515,CIQC2196,6.00,8.0,45-60 days,Active,JDAA6310,2023-05-04 12:23:28.16582,1.0,High,INR,Work from Office,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AEM architect,Aemarchitect,30.0,32.0,True,{bangalore},"Should have experience in java, OSGI, Componen...",https://storage.googleapis.com/hrm-musquare/jo...,1,Permanent,"{sling,jackrabbit,OSGI,felix,JCR}",Venkata Sai Rohith,CIHW9344,9.96,15.0,30-45 days,Active,JDAA7883,2022-03-07 13:35:36.779486,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
# Total no.of columns and rows
jobs.shape

(307, 30)

In [31]:
# List of columns
jobs.columns

Index(['jobTitle', 'position', 'minBudget', 'maxBudget', 'travelReq',
       'location', 'description', 'attachment', 'orgId', 'jobType', 'skills',
       'recruiter', 'client', 'minExp', 'maxExp', 'noticePeriod', 'status',
       'jobId', 'createDate', 'vacancies', 'priority', 'priceType', 'workType',
       'comment', 'subvendorId', 'Questionnaires', 'country', 'department',
       'eligibility', 'responsibilities'],
      dtype='object')

In [32]:
# Check datatypes of all the columns
jobs.dtypes

jobTitle             object
position             object
minBudget           float64
maxBudget           float64
travelReq              bool
location             object
description          object
attachment           object
orgId                 int64
jobType              object
skills               object
recruiter            object
client               object
minExp              float64
maxExp              float64
noticePeriod         object
status               object
jobId                object
createDate           object
vacancies           float64
priority             object
priceType            object
workType             object
comment              object
subvendorId         float64
Questionnaires      float64
country              object
department          float64
eligibility         float64
responsibilities    float64
dtype: object

In [33]:
# Information of the dataset
jobs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307 entries, 0 to 306
Data columns (total 30 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   jobTitle          307 non-null    object
 1   position          307 non-null    object
 2   minBudget         306 non-null    float64
 3   maxBudget         306 non-null    float64
 4   travelReq         307 non-null    bool
 5   location          307 non-null    object
 6   description       307 non-null    object
 7   attachment        68 non-null     object
 8   orgId             307 non-null    int64
 9   jobType           307 non-null    object
 10  skills            307 non-null    object
 11  recruiter         307 non-null    object
 12  client            307 non-null    object
 13  minExp            307 non-null    float64
 14  maxExp            307 non-null    float64
 15  noticePeriod      307 non-null    object
 16  status            307 non-null    object
 17  jobId             307 non-null    object
 18  createDate        307 non-null    object
 19  vacancies         270 non-null    float64
 20  priority          262 non-null    object
 21  priceType         257 non-null    object
 22  workType          259 non-null    object
 23  comment           5 non-null      object
 24  subvendorId       0 non-null      float64
 25  Questionnaires    0 non-null      float64
 26  country           15 non-null     object
 27  department        0 non-null      float64
 28  eligibility       0 non-null      float64
 29  responsibilities  0 non-null      float64
dtypes: bool(1), float64(10), int64(1), object(18)
memory usage: 70.0+ KB

In [34]:
# Statistical info of the dataset
jobs.describe()

,minBudget,maxBudget,orgId,minExp,maxExp,vacancies,subvendorId,Questionnaires,department,eligibility,responsibilities
count,3.060000e+02,3.060000e+02,307.0,307.000000,307.000000,270.000000,0.0,0.0,0.0,0.0,0.0
mean,4.589160e+05,8.748758e+05,1.0,4.339707,7.091466,2.266667,NaN,NaN,NaN,NaN,NaN
std,1.532037e+06,2.216359e+06,0.0,6.940431,9.066452,3.757916,NaN,NaN,NaN,NaN,NaN
min,0.000000e+00,2.000000e+00,1.0,0.000000,0.000000,-1.000000,NaN,NaN,NaN,NaN,NaN
25%,6.000000e+00,1.500000e+01,1.0,2.000000,5.000000,1.000000,NaN,NaN,NaN,NaN,NaN
50%,2.450000e+01,2.750010e+05,1.0,4.000000,6.000000,1.000000,NaN,NaN,NaN,NaN,NaN
75%,6.000000e+05,1.200000e+06,1.0,5.000000,8.000000,2.000000,NaN,NaN,NaN,NaN,NaN
max,2.500000e+07,3.000000e+07,1.0,108.000000,144.000000,50.000000,NaN,NaN,NaN,NaN,NaN

In [35]:
# Check for missing values
jobs.isnull().sum()

jobTitle              0
position              0
minBudget             1
maxBudget             1
travelReq             0
location              0
description           0
attachment          239
orgId                 0
jobType               0
skills                0
recruiter             0
client                0
minExp                0
maxExp                0
noticePeriod          0
status                0
jobId                 0
createDate            0
vacancies            37
priority             45
priceType            50
workType             48
comment             302
subvendorId         307
Questionnaires      307
country             292
department          307
eligibility         307
responsibilities    307
dtype: int64

In [36]:
jobs = jobs.drop(['position', 'travelReq', 'attachment', 'orgId', 'recruiter', 'client', 'priority', 'priceType', 'workType', 'comment', 'subvendorId', 'Questionnaires', 'country', 'department', 'eligibility', 'responsibilities', 'minBudget', 'maxBudget', 'minExp', 'maxExp', 'noticePeriod', 'status', 'createDate', 'vacancies'], axis=1)

In [37]:
jobs.columns

Index(['jobTitle', 'location', 'description', 'jobType', 'skills', 'jobId'], dtype='object')

# **Data Cleaning**

In [39]:
# Initialize the SimpleImputer with a strategy (e.g., 'most_frequent' for categorical, 'mean' for numerical)
imputer = SimpleImputer(strategy='most_frequent')

In [40]:
# Impute missing values in each dataset
ed = pd.DataFrame(imputer.fit_transform(ed), columns=ed.columns)
emp = pd.DataFrame(imputer.fit_transform(emp), columns=emp.columns)
jobs = pd.DataFrame(imputer.fit_transform(jobs), columns=jobs.columns)

In [41]:
print("Missing values after imputation:")
print("Education missing values:\n", ed.isnull().sum())
print("Employment missing values:\n", emp.isnull().sum())
print("Jobs missing values:\n", jobs.isnull().sum())

Missing values after imputation:
Education missing values:
 Id                      0
primaryPercentage       0
secondaryPercentage     0
graduationPercentage    0
applicantId             0
dtype: int64
Employment missing values:
 employmentId    0
uploadResume    0
industry        0
skills          0
applicantId     0
dtype: int64
Jobs missing values:
 jobTitle       0
location       0
description    0
jobType        0
skills         0
jobId          0
dtype: int64

In [42]:
# Standardize the format of the 'skills' column across all datasets
def standardize_skills(skills):
    return skills.lower().replace(',', ' ').replace(';', ' ').replace('/', ' ').split()

emp['skills'] = emp['skills'].apply(standardize_skills)
jobs['skills'] = jobs['skills'].apply(standardize_skills)

# **Data Integration**

In [44]:
# Merge the education and employment datasets on applicantId
merged_df = pd.merge(ed, emp, on='applicantId', how='inner')
merged_df.columns

Index(['Id', 'primaryPercentage', 'secondaryPercentage',
       'graduationPercentage', 'applicantId', 'employmentId', 'uploadResume',
       'industry', 'skills'],
      dtype='object')

# **Feature Engineering**

In [46]:
# Convert all entries in the 'skills' columns to strings, then to lowercase, and fill missing values
merged_df['skills'] = merged_df['skills'].astype(str).str.lower().fillna('')
jobs['skills'] = jobs['skills'].astype(str).str.lower().fillna('')

In [47]:
# Create a function to check if any of the applicant's skills match the job skills
def match_skills(applicant_skills, job_skills):
    applicant_skills_set = set(applicant_skills.split(', '))
    job_skills_set = set(job_skills.split(', '))
    return bool(applicant_skills_set & job_skills_set)

In [48]:
# Filter the jobs dataframe
filtered_jobs = jobs[jobs['skills'].apply(lambda x: any(
    match_skills(applicant_skill, x) for applicant_skill in merged_df['skills']
))]

# Display the filtered jobs
filtered_jobs.head()

,jobTitle,location,description,jobType,skills,jobId
3,Azure Administrator,"{""Pan India""}",1.\tArchitecture and Design for large scale Az...,Permanent,"['{""azure', 'administrator', '""}']",JDAA6310
5,Assistant Brand Manager,{Ghargaon},Classification: All - Finance / Accounts / Inv...,Permanent,"['{sales', '""social', 'media', 'marketing""', '...",JDAB3826
6,Azure BI Developer - Excellerate,{Hyderabad},Resource must have 5+ years of hands on experi...,Permanent,"['{azure', '""', 'synapse""', '""', 'adf""}']",JDAB7664
7,Angular Developer,{Hyderabad},Requirements\nHands-on experience in UI develo...,Permanent,"['{angular', '""rest', 'api""}']",JDAD1928
8,Angular Developer,{Hyderabad},Minimum Qualifications:\nBachelor's degree in ...,Permanent,['{angular}'],JDAD1983

# **Model Building**

### Step 1: Combine Job Descriptions and Skills into a Single Feature

In [51]:
# Combine the job description and skills into a single feature
jobs['combined_features'] = jobs['description'] + ' ' + jobs['skills']
jobs[['jobTitle', 'combined_features']].head()

,jobTitle,combined_features
0,Plant Maintenance Engineer,"Read and understand the data from P&ID, PEFS, ..."
1,Adobe Analytics developer,An understanding of the marketing technologies...
2,AEM architect,"To analyze, understand the client’s business u..."
3,Azure Administrator,1.\tArchitecture and Design for large scale Az...
4,AEM architect,"Should have experience in java, OSGI, Componen..."

### Step 2: Vectorize the Combined Features

In [53]:
# Initialize TF-IDF Vectorizer and transform the job skills
tfidf_vectorizer = TfidfVectorizer(stop_words='english')

In [54]:
# Fit and transform the combined features
tfidf_matrix = tfidf_vectorizer.fit_transform(jobs['combined_features'])
tfidf_matrix.shape

(307, 3672)

### Step 3: Compute the Cosine Similarity Matrix

In [56]:
# Compute the cosine similarity matrix
cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)
cosine_sim

array([[1.        , 0.08676152, 0.03274689, ..., 0.        , 0.0494567 ,
        0.01844573],
       [0.08676152, 1.        , 0.08878978, ..., 0.04140992, 0.08685324,
        0.        ],
       [0.03274689, 0.08878978, 1.        , ..., 0.04224572, 0.0406752 ,
        0.        ],
       ...,
       [0.        , 0.04140992, 0.04224572, ..., 1.        , 0.12658502,
        0.        ],
       [0.0494567 , 0.08685324, 0.0406752 , ..., 0.12658502, 1.        ,
        0.01468348],
       [0.01844573, 0.        , 0.        , ..., 0.        , 0.01468348,
        1.        ]])

### Step 4: Create a Function to Recommend Jobs

In [58]:
# Create a reverse mapping of job titles to index
job_indices = pd.Series(jobs.index, index=jobs['jobTitle']).drop_duplicates()

def get_skill_based_recommendations(skills, tfidf_matrix=tfidf_matrix, tfidf_vectorizer=tfidf_vectorizer, jobs_df=jobs, top_n=4):
    # Vectorize the input skills using the same TF-IDF vectorizer
    skill_vector = tfidf_vectorizer.transform([skills])

    # Compute the cosine similarity between the input skills and all job postings
    skill_sim = cosine_similarity(skill_vector, tfidf_matrix)

    # Get the pairwise similarity scores of all jobs with the input skills
    sim_scores = list(enumerate(skill_sim[0]))

    # Filter out jobs where the required skills are not mentioned in the job description or skills
    filtered_scores = []
    for idx, score in sim_scores:
        job_skills = jobs_df['skills'].iloc[idx]
        if any(skill.lower() in job_skills.lower() for skill in skills.split()):
            filtered_scores.append((idx, score))

    # Sort the jobs based on the similarity scores
    filtered_scores = sorted(filtered_scores, key=lambda x: x[1], reverse=True)

    # Get the scores of the top N most similar jobs
    top_scores = filtered_scores[:top_n]

    # Get the job indices
    job_indices_list = [i[0] for i in top_scores]

    # Return the top N most similar jobs
    return jobs_df.iloc[job_indices_list]

In [59]:
# Test the recommendation function
recommended_jobs = get_skill_based_recommendations('Python, Machine Learning, Data Analyst')

# Display the output neatly
for job in recommended_jobs.itertuples():
    print(f"Job Title: {job.jobTitle}")

Job Title: Data Scientist
Job Title: AI Engineer
Job Title: Data Engineer
Job Title: Sr Data Research Analyst

In [60]:
# Split the data into training and testing sets
jobs_train, jobs_test = train_test_split(jobs, test_size=0.2, random_state=42)

# Recreate the TF-IDF vectorizer and model using the training data
tfidf_vectorizer = TfidfVectorizer(stop_words='english')
tfidf_matrix_train = tfidf_vectorizer.fit_transform(jobs_train['skills'])

# Function to get recommendations
def get_recommendations(skills, tfidf_matrix, tfidf_vectorizer, jobs_df, top_n=5):
    skills_tfidf = tfidf_vectorizer.transform([skills])
    cosine_similarities = linear_kernel(skills_tfidf, tfidf_matrix).flatten()
    related_job_indices = cosine_similarities.argsort()[-top_n:][::-1]
    return jobs_df.iloc[related_job_indices]

# Evaluate the model's performance
y_true = []
y_pred = []

for i, row in jobs_test.iterrows():
    skills = row['skills']
    recommended_jobs = get_recommendations(skills, tfidf_matrix_train, tfidf_vectorizer, jobs_train)

    true_job_title = row['jobTitle']
    pred_job_titles = recommended_jobs['jobTitle'].values

    y_true.append(true_job_title)
    y_pred.append(pred_job_titles[0] if len(pred_job_titles) > 0 else 'No Recommendation')

# Calculate precision, recall, and F1-score
precision = precision_score(y_true, y_pred, average='weighted', zero_division=1)
recall = recall_score(y_true, y_pred, average='weighted', zero_division=1)
f1 = f1_score(y_true, y_pred, average='weighted', zero_division=1)

print(f'Precision: {precision}')
print(f'Recall: {recall}')
print(f'F1 Score: {f1}')

Precision: 0.9811827956989246
Recall: 0.06451612903225806
F1 Score: 0.056451612903225805

# **Model Deployment**

### Save the Model Components

In [63]:
import joblib

# Save the TF-IDF vectorizer
joblib.dump(tfidf_vectorizer, 'Streamlit/tfidf_vectorizer.pkl')

# Save the job dataset
jobs_train.to_csv('Streamlit/jobs_train.csv', index=False)

Further step requires to create Streamlit App